.confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.confirmation-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 440px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.confirmation-form h2 {
  text-align: center;
  margin-block: 0;
  font-size: var(--font-size-subtitle);
  color: black;
}

.confirmation-form p {
  font-size: var(--font-size-note);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.confirmation-form__mensaje {
  font-weight: 600;
  font-size: var(--font-size-note);
  color: var(--blue-color);
}

.confirmation-form label {
  font-weight: 600;
  font-size: var(--font-size-paragraph);
  display: block;
  color: black;
}

.confirmation-form input {
  width: 95%;
  padding: 8px;
  margin-top: 4.8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: var(--font-size-paragraph);
}

.confirmation-form button {
  margin-top: 24px;
  width: 100%;
  padding: 11.2px;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  transition: background-color 0.3s ease;
  border: 0;
  border-radius: 8px;
  font-size: var(--font-size-paragraph);
}

.confirmation-form button:hover {
  background-color: var(--secondary-color);
}
