body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: #1e1e1e;
    color: #fff;
}
header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.title{
    text-align: center;
}
nav{
    color: #fff;
    margin: 0 15px;
}
.section {
    padding: 40px 20px;
}
.section h2 {
    text-align: center;
    margin-bottom: 30px;
}
.catalog,.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    background-color: #2a2a2a;
    border-radius: 8px;
    width: 300px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 15px;
}
footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}