.title_noticias{
    padding-left: 20%; /*Aumentar para llevar titulo a la derecha*/
    font-size: 2rem;
}
.img_portada {
  width: 100%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}