.space_blank {
  width: 100%;
  height: 100px;
}
.title_noticias{
    padding-left: 200px; /*Aumentar para llevar titulo a la derecha*/
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}