.img_portadaAdmin {
  width: 1545px; /*Disminuye/aumenta para ajustar ancho*/
  height: 250px; /*Altura fija*/
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.title_noticiasAdmin{
  padding-right: 74%; /*Disminuir para llevar titulo a la derecha*/
  font-size: 2rem;
  text-align: right;
}
.borrar_temporal{
  margin-left: 370px;
}
.admin-btn.crear{
  background: #fff;
  color: #28a745;
}
.admin-btn.editar{
  background: #fff;
  color: blue;
}
.admin-btn.eliminar{
  background: #fff;
  color: orangered;
}
.admin-btn:hover {
  border-color: red;
  border-width: 3px;
  background-color: rgb(165, 165, 165);
  opacity: 0.92;
}