.restpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  width: 440px;
  text-align: center;
}

.restpassword-container h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-subtitle);
  color: black;
}

.restpassword-container p {
  font-size: var(--font-size-note);
  margin-top: 0;
  margin-bottom: 24px;
  color: #444;
  text-align: left;
}

.restpassword-container input {
  width: 422.4px;
  padding: 8px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: var(--font-size-paragraph);
}

.restpassword-container button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-paragraph);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restpassword-container button:hover {
  background-color: var(--secondary-color);
}

.error {
  color: var(--secondary-color);
  font-size: var(--font-size-note);
  margin-top: 8px;
}

.success {
  color: #009900;
  font-size: var(--font-size-note);
  margin-top: 8px;
}
