:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-subtitle: 1.3rem;
  --font-size-paragraph: 1.1rem;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}


/* Responsive */
@media (max-width: 480px) {
  :root {
    --font-size-subtitle: 1.1rem;
    --font-size-paragraph: 0.9rem;
  }
}