.user-list {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1.5rem 2rem;
  margin-left: 360px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.user-list-inner {
  width: 100%;
  max-width: 1000px;
}

.user-list h2 {
  font-size: var(--font-size-subtitle);
  font-weight: bold;
  margin-block: 24px;
  color: var(--main-color);
  text-align: center;
}

.user-list-container {
  overflow-x: auto;
  border-radius: 12px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list th,
.user-list td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  text-align: center; 
  vertical-align: middle; 
  font-size: var(--font-size-paragraph);
}

.user-list th {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

.user-list tr:last-child td {
  border-bottom: none;
}


/* Responsive */
@media (max-width: 1300px) {
  .user-list {
    margin-left: 240px;
  }
}

@media (max-width: 1024px) {
  .user-list {
    margin-left: 185px;
  }
}

@media (max-width: 630px) {
  .user-list {
    padding: 1.5rem;
  }
}

@media (max-width: 540px) {
  .user-list {
    margin-left: 27vw;
  }
}