.filter-container {
    margin-right: 60px;
}

.filter-container a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.filter-container a:hover {
    color: var(--secondary-color);
}