.vistaNoticia {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

/*corresponde dentro del div noticia-container*/
.noticia_container {
    flex: 8 1 0;
    margin-left: 380px;
}
.noticia {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 25px;
  margin-right: 40px;
  box-shadow: 0 3px 9px rgb(193, 193, 193);
  background-color: #f9f9f9;
}
.contenido_nota{
  flex: 7 1 0;
}
.titulo_nota{
  font-weight: bold;
  font-size: large;
}
.categoria_nota{
  color: red;
  font-weight: 400;
}
.extra_nota{
  color: grey;
}
.img_nota {
  flex: 3 1 0;
}
.img_nota img {
  width: 60%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin: 5px auto 5px auto;
  border-radius: 15px;
  box-shadow: 0 10px 9px rgb(133, 133, 133);
}

/*corresponde dentro del div filter-container*/
.filter_container {
    flex: 2 1 0;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 2px solid #b23a48;
    border-radius: 12px;
    background: #fff;
}
.filter-container a {
    color: black;
    cursor: pointer;
}
.filter-container a:hover {
    color: red;
}
